<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <!-- Variable declarations for passing labels as parameters -->
        <!-- Table header for Computer Name -->

        <th class="editMode" style="width: 60px; height: 22px;">
            <input type="checkbox" id="selectall"/>
            <span style="vertical-align: top;">
                            -  <a href="#" id="deleteSelected" onclick="$.fn.deleteSelected();">
                                <i class="fa fa-trash-o fa-lg"></i>
                            </a>
                    </span>
        </th>
        <th>
            <a
            <c:if test="${empty order || order.equals(\" name\
            ")}">class="disabled"
            </c:if>href="?search=${search}&page=${computers.currentPage}&pageSize=${pageSize}&order=name">Computer
            name</a>
        </th>
        <th>
            <a
            <c:if test="${order.equals(\" introduced\
            ")}">class="disabled" </c:if>
            href="?search=${search}&page=${computers.currentPage}&pageSize=${pageSize}&order=introduced">Introduced
            date</a>
        </th>
        <!-- Table header for Discontinued Date -->
        <th>
            <a
            <c:if test="${order.equals(\" discontinued\
            ")}">class="disabled" </c:if>
            href="?search=${search}&page=${computers.currentPage}&pageSize=${pageSize}&order=discontinued">Discontinued
            date</a>
        </th>
        <!-- Table header for Company -->
        <th>
            <a
            <c:if test="${order.equals(\" company\
            ")}">class="disabled" </c:if>
            href="?search=${search}&page=${computers.currentPage}&pageSize=${pageSize}&order=company">Company</a>
        </th>
    </tr>

    </thead>
    <!-- Browse attribute computers -->
    <tbody id="results">
    <tr>
        <td class="editMode">
            <input type="checkbox" name="cb" class="cb" value="${computer.id}">
        </td>
        <td>
            <a href="computers?id=${computer.id}" onclick="">
                <c:out value="${computer.name}"/>
            </a>
        </td>
        <td>
            <c:if test="${!empty computer.introduced}">
                <tags:localDate pattern="dd/MM/yyyy" value="${computer.introduced}"/>
            </c:if>
        </td>
        <td>
            <c:if test="${!empty computer.discontinued}">
                <tags:localDate pattern="dd/MM/yyyy" value="${computer.discontinued}"/>
            </c:if>
        </td>
        <td>
            <c:out value="${computer.companyName}"/>
        </td>
    </tr>
    </tbody>
</table>