<div id="actions" class="form-horizontal">
    <div class="pull-left">
        <form id="searchForm" action="#" method="GET" class="form-inline">
            <input type="search" id="searchbox" name="search" class="form-control" placeholder="Search name"
                   value="${search}"/>
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn btn-primary"/>
        </form>
    </div>

    <div class="pull-right">
        <a class="btn btn-success" href="computers">Add Computer</a>
        <a class="btn btn-default" href="#" onclick="$.fn.toggleEditMode();">Edit</a>
    </div>
</div>