body {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #FEFEFE;
    border-top: 1px solid #CCC;
    height: 60px;
}

footer .pagination {
    margin: 10px 0px;
}

footer .btn-group {
    margin: 10px 10px;
}

input[type='checkbox'] {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    white-space: nowrap;
}

.editMode {
    display: none;
}

.has-success .form-control-error, .has-success .form-control-label {
    color: #5cb85c;
}

.has-danger .form-control-error, .has-danger .form-control-label {
    color: #d9534f;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    font-weight: bold;
    color: black;
}